<!-- <div class="grid">
    <div class="col-12">
        <p-table [value]="employeelist" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.employee_name}}</td>
                    <td>{{product.employee_salary}}</td>
                    <td>{{product.employee_age}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-toast position="top-left" key="tl"></p-toast> -->